<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>
            <a href="..">Home</a>
            <a> / </a>
            <a href="../items">Items</a>
            <a> / </a>
            <strong>About</strong>
        </p>
        <p>Hello! My name is {{ name }}</p>
        <p>Phone: {{ phone_number }}</p>
        <p>E-mail: {{ email }}</p>
    </div>
</body>
</html>