<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>
            <a href="{% url 'home' %}">Home</a>
            <a> / </a>
            <strong>Items</strong>
            <a> / </a>
            <a href="{% url 'hello' %}">About</a>
        </p>
        <p>Список продуктов:</p>
        <ul>
            {% for product in items %}
                <li><a href="{% url 'item' item_id=product.id %}">{{ product.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>